<!DOCTYPE html>
<html>
  <head>
    <title>Couchcorn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>TEST</h1>
    <%= yield %>
    <div id="root"></div>
  </body>
</html>
