<!DOCTYPE html>
<html>
  <head>
    <title>Couchcorn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_account %>
        <script>
        window.currentAccount = { 
          "id": <%= current_account.id %>,
          "account_email": "<%= current_account.account_email %>"
          };
      </script>
    <% end %>


  </head>

  <body>
    <%= yield %>
    <div id="root"></div>
  </body>
</html>
